<!--
    This test can be launched with
    > rostest openzen_sensor openzen_test.launch

    Make sure roscore is running before starting this test.
-->
<launch>
    <!-- IG1 Sensor node -->
    <group ns="imu_r">
        <node name="lpms_node" pkg="openzen_sensor" type="openzen_sensor_node">
            <param name="sensor_interface" type="str" value="Bluetooth" />
            <param name="sensor_name" type="str" value="00:04:3E:6C:52:83" />
        </node>
    </group>
</launch>
